@model List<WebApplication2.Models.Employee>

<h5>@ViewBag.Title</h5>
<h6>@ViewData["SubTitle"]</h6>
<table>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Name</td>
        </tr>
    }
</table>
